@model BrokerMVC.Models.LifeandDisabilityInsurance
@{
    ViewBag.Title = "LifeandDisabilityInsurance";
    Layout = "~/Views/Shared/View_CustomerProfileLayout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Life Insurance</title>

    <script type="text/javascript">
        function GetCity(e) {
            // alert('hi');
            var zipaddress = $("#ZipCode").val();
            if (zipaddress.length >= 5) {
                $.ajax({
                    url: 'https://maps.googleapis.com/maps/api/geocode/json?address=' + zipaddress + '',
                    success: function (data) {
                        lat = data.results[0].geometry.location.lat;
                        lng = data.results[0].geometry.location.lng;

                        $('#Longitude').val(lng);
                        $('#Latitude').val(lat);

                        for (var i = 0; i < data.results[0].address_components.length; i++) {

                            for (var b = 0; b < data.results[0].address_components[i].types.length; b++) {
                                if (data.results[0].address_components[i].types[b] == "postal_code") {
                                    var zip = data.results[0].address_components[i].long_name;
                                }
                                if (data.results[0].address_components[i].types[b] == "locality") {
                                    localCity = data.results[0].address_components[i].long_name;
                                    $('#City').val(localCity);
                                }
                            }
                        }
                    }

                });
            }
            else {
                $('#City').val("");
            }
        }
    </script>

    <script type="text/javascript">
        window.onload = function () {

            var ZipCode = '@ViewBag.ZipCode';
            if (ZipCode != "") {
                //alert("In If");
                $("#ZipCode").val(ZipCode);
                GetCity($("#ZipCode"));
            }

            $('#footerLayout').hide();
            $('#noresults').hide();
        };

    </script>

    <style type="text/css">
        .red-border-left {
            border-left: 2px solid #FF0000 !important;
        }
    </style>





</head>
<body>
    <div class="container clearfix" style="height:100%;">




        @*======================================= (Start) Title ========================================*@

        <div class="row">
            <br />
            <div class="col-lg-12 brokerTag" style="font-weight: bold;font-size: 25px;text-align: center;padding-bottom: 1.2%;">
                <span>LIFE INSURANCE</span>
            </div>
        </div>

        @*======================================= (End) Title ========================================*@




        @using (Html.BeginForm("LifeandDisabilityInsurance", "Insurances"))
        {
            @*====================================== (Start) ZipCode ========================================*@
    <div class="row">
        <div class="col-sm-12" style="padding-left:10%;padding-right:20%;">

            <div class="col-sm-6" style="padding-top:2%;padding-left:1%;">@Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label col-md-12 " })</div>
            <div class="col-sm-6" style="padding-right: 0;">
                @*<div class="col-sm-6 hrlabel"><input data-wrapper-class="zipcode" value="" id="zipcode" type="number" placeholder="Business Zip Code"></div>*@
                <div class="col-sm-6 hrlabel" style="padding-left:0;">
                    @Html.TextBoxFor(Model => Model.ZipCode, htmlAttributes: new { @class = "control-label col-md-12 red-border-left", placeholder = "Home Zip Code", @maxlength = 5, onkeyup = "GetCity(this)" })
                    @Html.ValidationMessageFor(Model => Model.ZipCode, "", new { @class = "RequiredField" })
                </div>
                <div class="col-sm-6 lable" style="padding-left:0;">
                    @*<input data-wrapper-class="city" value="" type="text" id="txtcity" disabled placeholder="City">*@
                    @Html.TextBoxFor(Model => Model.City, htmlAttributes: new { @class = "control-label col-md-12 city red-border-left", placeholder = "City", @readonly = true })
                    @Html.ValidationMessageFor(Model => Model.City, "", new { @class = "RequiredField" })
                </div>

                @Html.HiddenFor(Model => Model.Longitude)
                @Html.HiddenFor(Model => Model.Latitude)

                @*<textarea id="txtlat" style="display:none;" rows="50" cols="50"></textarea>
                    <textarea id="txtlang" style="display:none;" rows="50" cols="50"></textarea>*@
            </div>

        </div>
    </div>


            @*====================================== (End) ZipCode ========================================*@


            @*====================================== (Start) FaceValue ========================================*@


            <div class="row" style="padding-bottom:0.8%;">
                <div class="col-sm-12" style="padding-left:10%;padding-right:20%;">
                    <div class="col-sm-6" style="padding-top:2%;padding-left:1%;">@Html.LabelFor(model => model.FaceValue, htmlAttributes: new { @class = "control-label col-md-12 " })</div>
                    <div class="col-sm-6">

                        @Html.DropDownListFor(m => m.FaceValue, new List<SelectListItem> {
                                        new SelectListItem {Value="", Text ="--Select--", Selected = true},
                                        new SelectListItem {Value="$250,000 or less", Text ="$250,000 or less"},
                                        new SelectListItem { Value = "$250,001 to $500,000", Text = "$250,001 to $500,000"},
                                        new SelectListItem { Value = "$500,001 to $1,000,000", Text = "$500,001 to $1,000,000"},
                                        new SelectListItem { Value = "More than $1,000,000", Text = "More than $1,000,000"}


                                        }, new { @class = "DropdownBG red-border-left" })

                        @Html.ValidationMessageFor(Model => Model.FaceValue, "", new { @class = "RequiredField" })

                    </div>
                </div>
            </div>

            @*====================================== (End) FaceValue ========================================*@


            @*====================================== (Start) CoverageExpires ========================================*@


            <div class="row" style="padding-bottom:0.8%;">
                <div class="col-sm-12" style="padding-left:10%;padding-right:20%;">
                    <div class="col-sm-6" style="padding-top:2%;padding-left:1%;">@Html.LabelFor(model => model.CoverageExpires, htmlAttributes: new { @class = "control-label col-md-12 " })</div>
                    <div class="col-sm-6">

                        @Html.DropDownListFor(m => m.CoverageExpires, new List<SelectListItem> {
                                        new SelectListItem {Value="", Text ="--Select--", Selected = true},
                                        new SelectListItem {Value="Now", Text ="Now"},
                                        new SelectListItem { Value = "Within 30 days", Text = "Within 30 days"},

                                        }, new { @class = "DropdownBG red-border-left" })

                        @Html.ValidationMessageFor(Model => Model.CoverageExpires, "", new { @class = "RequiredField" })
                    </div>
                </div>
            </div>

            @*====================================== (End) CoverageExpires ========================================*@

            @*====================================== (Start) Language ========================================*@


            <div class="row" style="padding-bottom:0.8%;">
                <div class="col-sm-12" style="padding-left:10%;padding-right:20%;">
                    <div class="col-sm-6" style="padding-top:2%;padding-left:1%;">@Html.LabelFor(model => model.Language, htmlAttributes: new { @class = "control-label col-md-12 " })</div>
                    <div class="col-sm-6">
                        @*<select id="chkLanguages" multiple="multiple" name="chkLanguages">*@


                        @Html.DropDownListFor(m => m.Language, new List<SelectListItem> {
                                        new SelectListItem {Value="English", Text ="English", Selected = true},
                                        new SelectListItem { Value = "Spanish", Text = "Spanish"},
                                        new SelectListItem { Value = "Chinese(Cantonese)", Text = "Chinese(Cantonese)"},
                                        new SelectListItem { Value = "Chinese(Mandarin)", Text = "Chinese(Mandarin)"},
                                        new SelectListItem { Value = "Korean", Text = "Korean"},
                                        new SelectListItem { Value = "Vietnamese", Text = "Vietnamese"},

                                        }, new { @class = "DropdownBG" })
                        @Html.ValidationMessageFor(Model => Model.Language, "", new { @class = "RequiredField" })


                    </div>
                </div>
            </div>


            @*====================================== (End) Language ========================================*@

            @*====================================== (Start) Notes ========================================*@

            <div class="row" style="padding-bottom:5%;">
                <div class="col-sm-12" style="padding-left:10%;padding-right:20%;">
                    <div class="col-sm-6" style="padding-top:2%;padding-left:1%;">@Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-12 " })</div>
                    <div class="col-sm-6">
                        @Html.TextAreaFor(Model => Model.Notes, htmlAttributes: new { @class = "control-label col-md-12 ", placeholder = "Enter any notes" })
                    </div>
                </div>
            </div>


            @*====================================== (End) Notes ========================================*@



            @*====================================== (Start) submit to brokkrr ========================================*@
            <div class="row">
                <div class="form-group" style="margin-bottom: 15%;"><!--18April RS margin-bottom: 15%;-->
                    <div class="col-md-12" style="text-align:center;">
                        <input type="submit" value="Submit to Brokkrrs" name="SubmittoBrokkrrs" id="UpdateInfo" class="btn btn-default" style="position: relative;background-color:#17d1ff;color: white;" />
                    </div>
                </div>
            </div>
            @*====================================== (End) submit to brokkrr ========================================*@
            <div class="cleardiv"></div>
        }
    </div>
    <script>
        $(window).scroll(function () {
            $('#footerLayout').hide();
            $('#noresults').hide();
        });

    </script>
    <footer class="footer-distributed" style="position:fixed;bottom:0;">
        <div class="container" style="width:100%;">
            <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6" style="padding:0;">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
                            <p class="footer-company-about">
                                <div class="social-icons" style="margin-bottom:0px;">
                                    <a href="#"><span class="facebook"></span></a>
                                    <a href="#"><span class="twitter"></span></a>
                                    <a href="#"><span class="linkedin"></span></a>
                                </div>
                            </p>
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-6 col-xs-6" style="margin-bottom: 0%;text-align:center;padding-right: 0;">
                        <div class="footer-right-header">
                            @*<div class="copyright">*@
                            <div>
                                <p style="display: block;color: #666666;font-size: 16px;font-weight: 800;font-family:'Varela Round',sans-serif;padding-top:2%;">© 2018 brokkrr Inc.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
